@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45, 100%, 1%, 1%;
    --foreground: 222.2 84% 4.9%;
    --primary: 0, 0%, 7%, 1;
    --primary-foreground: 210 40% 98%;
    --secondary: 88, 90%, 58%, 1;
    --secondary-foreground: 88, 82%, 74%;
  }

  .dark {
    --background: 45, 100%, 1%, 1%;
    --foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
  }

  section {
    max-width: 1000px !important;
  }

  .accordion {
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .accordion:not(:last-child) {
    border-bottom: 1px solid #EAECF0;
  }
}