@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45, 100%, 1%, 1%;
    --foreground: 222.2 84% 4.9%;
    --primary: 0, 0%, 7%, 1;
    --primary-foreground: 210 40% 98%;
    --secondary: 227, 100%, 46%;
    --secondary-foreground: 88, 82%, 74%;
  }

  .dark {
    --background: 45, 100%, 1%, 1%;
    --foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
  }

  body::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--primary));
  }

  body::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  body::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  section {
    max-width: 1000px !important;
  }
}