.content {
  @apply mb-14 flex flex-col items-center;
}

.container {
  @apply px-4 pt-6 flex flex-col items-center justify-center;
}

.title {
  font-size: 2.5rem; /* text-4xl */
  color: #EEE;
  font-weight: 600; /* font-semibold */
  text-align: center;
  white-space: nowrap;
}

.subtitle {
  font-size: 1.25rem; /* text-xl */
  color: #667085;
  padding-top: 1.25rem; /* pt-5 */
  font-weight: 400; /* font-normal */
  text-align: center;
}

.accordion {
  margin-top: 2.5rem; /* mt-10 */
  width: 100%; /* Para ocupar toda a largura */
  @apply mx-4; /* Adiciona margem lateral */
}

.accordion:not(:last-child) {
  border-bottom: 1px solid #A7A6A6;
}

.button {
  width: 100%;
  text-align: left;
  font-size: 1.25rem; /* text-xl */
  font-weight: 500; /* font-medium */
  color: #eee;
  padding: 0.5rem 0; /* py-2 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  object-fit: contain;
}

.answer {
  font-size: 1.125rem; /* text-lg */
  color: #667085;
}

.overflowHidden {
  @apply my-3;
}

/* Ajustes de responsividade */
@media (max-width: 1024px) {
  .title {
    font-size: 2rem; /* Reduz o tamanho do título */
  }
  .subtitle {
    font-size: 1rem; /* Reduz o tamanho da legenda */
  }
}

@media (max-width: 768px) {
  .content {
    @apply flex flex-col items-center;
  }

  .accordion {
    @apply w-full max-w-[358px] mx-2; /* Ocupa 100% da largura e ajusta a margem */
  }

  .title {
    font-size: 1.75rem; /* Reduz ainda mais o tamanho do título */
    font-weight: 600;
    line-height: 2rem;
    text-align: center;
  }

  .subtitle {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
  }

  .button {
    @apply w-full flex justify-between; /* Ajusta a largura para caber no layout */
  }

  .p {
    @apply w-full max-w-80; /* O texto da pergunta agora ocupa toda a largura */
  }
}
