.footer {
  position: relative;
}

.backgroundImage {
  object-fit: cover;
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 12px;
}

.contentContainer {
  max-width: 1000px;
  padding: 0 16px; /* Adiciona padding lateral para telas menores */
}

.footerContent {
  display: flex;
  gap: 16px;
  color: white;
}

.leftContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textSecondary {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    gap: 24px;
    text-align: center;
    @apply mb-16
  }

  .footerContainer {
    display: block;
    @apply mx-4
  }

  .leftContent {
    align-items: start; /* Centraliza o conteúdo */
  }
}

@media (max-width: 480px) {
  .footerContent {
    gap: 16px; /* Reduz o espaço para telas muito pequenas */
  }

  .leftContent {
    gap: 12px; /* Reduz o gap entre os elementos */
  }

  .contentContainer {
    padding: 0 8px; /* Mais compacto em telas muito pequenas */
  }
}